/target/classes/bucket.png
/target/classes/me/quickscythe/rubidium/Client.class
/target/classes/me/quickscythe/rubidium/Drop.class
/target/classes/drop.wav
/target/classes/droplet.png
/target/classes/me/quickscythe/rubidium/Main.class
/target/classes/rain.mp3
